<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

	<context-param>
		<description>Режим работы фабрики сервисов.</description>
		<param-name>su.opencode.kefir.web.util.ServiceFactory.MODE</param-name>
		<param-value>local</param-value>
	</context-param>
<!--
	<context-param>
		<description>Режим работы фабрики сервисов.</description>
		<param-name>su.opencode.kefir.web.util.ServiceFactory.EAR_NAME</param-name>
		<param-value>java:global/datadir-0.1</param-value>
	</context-param>
-->

	<filter>
		<filter-name>charsetFilter</filter-name>
		<filter-class>su.opencode.kefir.web.util.CharsetFilter</filter-class>
		<init-param>
			<param-name>requestEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>charsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>attributeTypesList</servlet-name>
		<servlet-class>ru.datadir.attribute.AttributeTypesListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>attributeTypesList</servlet-name>
		<url-pattern>/attributeTypesList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sectionsList</servlet-name>
		<servlet-class>ru.datadir.section.SectionsListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sectionsList</servlet-name>
		<url-pattern>/sectionsList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>entityGet</servlet-name>
		<servlet-class>ru.datadir.entity.EntityGetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>entityGet</servlet-name>
		<url-pattern>/entityGet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>createTable</servlet-name>
		<servlet-class>ru.datadir.entity.CreateTableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createTable</servlet-name>
		<url-pattern>/createTable</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userRightsCheck</servlet-name>
		<servlet-class>ru.datadir.user.UserRightsCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userRightsCheck</servlet-name>
		<url-pattern>/userRightsCheck</url-pattern>
	</servlet-mapping>

</web-app>